-
    const reviews = [
        {
            id:  'research',
            quote: 'Cians has become an indispensable part of my team — between the engagement manager and the analysts, I am always fully covered and they are a natural extension of our desk.',
            author: 'PORTFOLIO MANAGER',
            fund: '2.4 BILLION AUM LONG/SHORT FUND'
        },
        {
            id: 'analytics',
            quote: 'With Cians’ teams, I never have to worry about bad data affecting my downstream decision making',
            author: 'Quant fund',
            fund: '$50B AUM'
        }
    ]

mixin tab(mod, quote, author, fund, is_active)
    .grid-x.grid-margin-x.align-middle.reviews_tab&attributes({
        'id': `tab_${mod}`,
        'class': is_active ? 'active': ''
    })
        .cell.large-6.medium-5.small-12.reviews_video
            //- video(src="#")
            img(srcset=`https://via.placeholder.com/1040x700/b0b0b0/ff00b7?text=${mod.toUpperCase()}+VIDEO+TO+GO+HERE 2x, https://via.placeholder.com/520x350/b0b0b0/ff00b7?text=${mod.toUpperCase()}+VIDEO+TO+GO+HERE 1x` src=`https://via.placeholder.com/520x350/b0b0b0/ff00b7?text=${mod.toUpperCase()}+VIDEO+TO+GO+HERE`, alt="VIDEO TO GO HERE")
        .cell.large-6.medium-7.small-12
            blockquote
                | “
                =quote
                |”
                cite
                    b=author
                    =fund

section.grid-container.reviews
    each review, i in reviews
        +tab(...Object.values(review), (i===0))