mixin icon(name, size, fill, viewbox, stroke)
    - viewbox = viewbox || size
    svg(xmlns='http://www.w3.org/2000/svg' width=size ? size[0] : false height=size ? size[1] : false viewbox=viewbox ? "0 0 " + viewbox[0] + " " + viewbox[1] : false)
        use(fill=fill || false stroke=stroke xlink:href='./assets/img/sprite.svg#' + name)